* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    background-color: #add8e6;
    font-family: 'Nerko One', cursive;
    text-shadow: 1px 1px black;
}
.clearfix::after {
    content: ''; 
    display: table; 
    clear: both;
}
.container {
    width: 700px;
    height: 800px;
    margin: 0 auto;
}
/*header*/
header {
    width: 700px;
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-weight: bolder;
}
/*main*/
main {
    position: relative;
    width: 700px;
}
.up {
    width: 700px;
    height: 200px;
    margin: 30px 0;
}
.centre {
    width: 700px;
    height: 200px;
    margin: 30px 0;
}
.down {
    width: 700px;
    height: 200px;
    margin: 30px 0;
}
.memory {
    width: calc(25% - 10px);
    height: 200px;
    background-color: #fff;
    float: left;
    margin: 0 5px;
    border-radius: 10px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: contain;
    position: relative;
    box-shadow: 1px 1px black;
}
.baloon {
    background-image: url(../img/noun_air_balloon_3134741.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
.text {
    position: absolute;
    bottom: 5px;
    left: 30px;
    color: #e60f82;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0);
}
/*header*/
footer {
    text-align: center;
}