* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    background-color: #add8e6;
    font-family: 'Nerko One', cursive;
}
.clearfix::after {
    content: ''; 
    display: table; 
    clear: both;
}
.container {
    width: 700px;
    height: 800px;
    margin: 0 auto;
}
/*header*/
header {
    width: 700px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
}
/*main*/
main {
    position: relative;
    width: 700px;
}
.up {
    width: 700px;
    height: 200px;
    margin: 30px 0;
}
.centre {
    width: 700px;
    height: 200px;
    margin: 30px 0;
}
.down {
    width: 700px;
    height: 200px;
    margin: 30px 0;
}
.memory {
    width: calc(25% - 10px);
    height: 200px;
    background-color: #fff;
    float: left;
    margin: 0 5px;
}